html,
body {
    height: 100%;
    min-height: 100%;
}

html {
    -webkit-tap-highlight-color: transparent;
    font-size: 10px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    background-color: #fff;
    margin: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

.main {
    height: 100%;
    min-width: 0;
}

.main .login {
    width: 100%;
    height: 100%;
    background: #ecf0f5;
    overflow: hidden;
}

.main .login .media-container,
.main .login .content-container {
    height: 100%;
    width: 50%;
    position: relative;
    left: 0;
    transition: left 300ms 500ms;
}

.main .login .content-container {
    float: right;
    background-color: #367fa9;
}

.main .login .media-container {
    float: left;
    background: #222d32;
}

@media screen and (max-width: 1264px), screen and (orientation: portrait) {
    .main .login .media-container {
        display: none;
    }
}

@media screen and (max-width: 1264px), screen
and (orientation: portrait) {
    .main .login .content-container {
        width: 100%;
    }
}

.main .login .content-container .content-box {
    width: 400px;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .login .content-container .content-box .content-logo {
    display: none;
    margin: 0 auto 30px;
    width: 150px;
    height: 150px;
    z-index: 20;
    background: url("http://sam.totem.com.pl/logo-sam.svg") no-repeat center center;
    background-size: contain;
}

@media screen and (max-width: 1263px), screen and (orientation: portrait) {
    .main .login .content-container .content-box .content-logo {
        display: block;
    }
}

.main .login .content-container .content-box .frame-slider {
    position: relative;
    left: 0;
    transition: left 300ms;
}

.main .login .content-container .content-box .frame-slider .frame-box {
    display: table-cell;
    min-width: 400px;
    max-width: 400px;
    vertical-align: middle;
    padding: 50px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}

.hide {
    display: none !important;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.main .login .content-container .content-box .frame-slider .frame-box .error-message {
    display: block;
    overflow: hidden;
    max-height: 0;
    color: #fff;
    transition: max-height 200ms;
}

.main .login .content-container .content-box .frame-slider .frame-box .form-control {
    border-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}

.main .login .content-container .content-box .frame-slider .frame-box .frame-box-footer {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.main .login .content-container .content-box .frame-slider .frame-box .forgot-password-switch {
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
}

small, .small {
    font-size: 85%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.main .login .content-container .content-box .frame-slider .frame-box .frame-box-footer .btn {
    padding: 0 45px;
    background-color: #367fa9;
    border: 1px solid #fff;
    line-height: 40px;
    color: #fff;
    opacity: 1;
    bottom: 0;
    position: relative;
}

.btn {
    transition: 0.5s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 4px;
    user-select: none;
}

.btn :hover {
    transition: 0.5s;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
}

button, html input[type="button"], input[type="reset"], input[type="submmit"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

.main .login .content-container .content-box .frame-slider .frame-box .frame-box-footer .btn:hover {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
}

.main .login .media-container .media-logo {
    width: 150px;
    height: 150px;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    background: url("http://sam.totem.com.pl/logo-sam.svg") no-repeat center center;
    background-size: contain;
}

.main .login .media-container .media-background {
    width: 100%;
    height: 100%;
    opacity: 1;
    background: no-repeat center center;
    background-size: cover;
    transition: opacity 300ms;
}

.main .login .media-container:hover .media-background .media-darkener {
    opacity: 0.4;
}

.main .login .media-container .media-background .media-darkener {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    transition: opacity 500ms;
}

.main .login .content-container .success-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -10;
    background-color: #00a65a;
    opacity: 0;
    transition: opacity 300ms;
}

.main .login .content-container .success-container .success-icon {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

@media (max-width: 1264px) {
    .main .login .content-container .content-box .frame-slider .frame-box .frame-box-footer {
        flex-direction: column;
        align-items: center;
    }

    .main .login .content-container .content-box .frame-slider .frame-box .frame-box-footer .forgot-password-switch {
        order: 1;
    }
}

@media (max-width: 1264px) {
    .login.content-success .content-container .content-box .frame-slider .frame-box .frame-box-footer .btn,
    .login.content-loading .content-container .content-box .frame-slider .frame-box .frame-box-footer .btn {
        border-radius: 50%;
        padding: 0;
        background-color: #72afd2;
        width: 15%;
        align-self: center;
        bottom: 0;
    }

    .login.content-success .content-container .content-box .frame-slider .frame-box .frame-box-footer button span,
    .login.content-loading .content-container .content-box .frame-slider .frame-box .frame-box-footer button span {
        opacity: 0;
    }

    .login.content-success .content-container .content-box .frame-slider .frame-box .frame-box-footer .btn {
        transform: scale(45);
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
    }
}

@media (min-width: 1265px) {
    .main .login.content-success .content-container .success-container .success-icon::after {
        content: '';
        display: block;
        width: 90px;
        height: 170px;
        border: solid #fff;
        border-width: 0 40px 40px 0;
        margin-left: 50px;
        transform: rotate(45deg);
    }

    .main .login.content-success .success-container {
        opacity: 1;
        z-index: 20;
    }

    .main .login.content-success .media-container {
        left: -50%;
    }

    .main .login.content-success .content-container {
        left: 50%;
    }
}
