/* html */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    min-height: 100%;
}

/* body */
body {
    margin: 0;
}

body {
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}

/* wrapper */
.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #222d32;
}

.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

/* main-header*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.main-header {
    position: relative;
    z-index: 1030;
    height: 50px;
    background-color: #3c8dbc;
    transform: translateY(-120%);
}

.wrapper.success .main-header{
    transition: transform .3s ease-out;
    transform: translateY(0%);
}

@media (max-width: 1264px) {
    .main-header {
        height: 40px;
    }
}

/* main-sidebar */
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    z-index: 810;
    padding-top: 50px;
    min-height: 100%;
    background-color: #222d32;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.sidebar-collapse .main-sidebar {
    transform: translate(-230px, 0);
}

@media (max-width: 1264px) {
    .main-sidebar {
        padding-top: 40px;
    }
}

/* content-wrapper */
.content-wrapper, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -webkit-transition: margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out, -webkit-transform .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}

.sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer {
    margin-left: 0;
}

@media (max-width: 1264px) {
    .content-wrapper, .main-footer {
        margin-left: 80px;
        overflow-x: auto;
    }
}

/* logo */

a {
    background-color: transparent;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    color: #3c8dbc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main-header .logo {
    float: left;
    display: block;
    width: 230px;
    height: 100%;
    padding: 0 15px;
    background-color: #367fa9;
    color: #fff;
    line-height: 50px;
    text-align: center;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

@media (max-width: 1264px) {
    .main-header .logo {
        display: none;
    }
}

/* img */
img {
    border: 0;
}

img {
    vertical-align: middle;
}

.main-header .logo img {
    max-height: 70%;
}

/* sidebar-toggle */

a:active, a:hover {
    outline: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.main-header .sidebar-toggle {
    float: left;
    padding: 18px 14px;
    color: #fff;
}

.main-header .sidebar-toggle:hover {
    background-color: #367fa9;
}

@media (max-width: 1264px){
    .main-header .sidebar-toggle {
        padding: 13px;
    }
}

.curtain {
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.circle {
    height: 100vw;
    width: 100vw;
    background-color: #72afd2;
    transition: border-radius 1s ease-out 2s;
    border-radius: 0;
    animation: circle-animation 2s forwards;
    transform: scale(2);
}

@keyframes circle-animation {
    0% {
        transform: scale(2);
    }
    20% {
        border-radius: 50%;
    }
    100% {
        transform: scale(0);
        border-radius: 50%;
    }
}

.success .curtain {
    display: none;
}